[Desktop Entry]
Name=Launchar
Comment=Gtk Application Launcher
GenericName=Launcher
Exec=launchar
Icon=start-here
Type=Application
StartupNotify=true
Categories=GNOME;
MimeType=text/plain;
